@page
@using System.Text.Json
@using DeciderDemo.Entities.Participant
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeciderDemo.Pages.Index


@{
}
<partial name="Partials/ConferenceModals"/>
<partial name="Partials/ParticipantModals"/>

@if (Model.Conferences.Any())
{
    <div class="mb-3">
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#AddConferenceModal">Add Conference</button>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Conference Name</th>
            <th>Dates</th>
            <th>Workshop #</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        @foreach (var conference in Model.Conferences)
        {
            <tr data-conference-id="@conference.ConferenceId">
                <td>@conference.ConferenceName</td>
                <td>@conference.StartDate.ToShortDateString() - @conference.EndDate.ToShortDateString()</td>
                <td>@conference.Workshops.Length</td>
                <td>
                    <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#WorkshopList">Show Workshops</button>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#AddWorkshopToConferenceModal">Add Workshop</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <span>There are no conferences. <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#AddConferenceModal">Add Conference</button></span>
    </div>
}

@if (Model.Participants.Any())
{
    <div>
        <button class="btn btn-primary btn-sm" type="button" data-bs-target="#AddParticipantModal" data-bs-toggle="modal">Add Participant</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Name</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        @foreach (var participant in Model.Participants)
        {
            <tr data-user-name="@participant.Identity.UserName">
                <td>@participant.Identity.UserName</td>
                <td>@participant.FirstName @participant.LastName</td>
                <td>
                    @if (!participant.IsApproved())
                    {
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ApproveParticipantModal">Approve</button>   
                    }
                    <button class="btn btn-danger btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#ConfirmRemoveParticipantModal">Remove</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <span>There are not any participants. <button class="btn btn-primary btn-sm" type="button" data-bs-target="#AddParticipantModal" data-bs-toggle="modal">Add Participant</button></span>
    </div>
}


<button class="btn btn-primary my-3" type="button" data-bs-toggle="collapse" data-bs-target="#debugInfo">Show/Hide Debug</button>

<div class="collapse" id="debugInfo">
    <div class="card card-content">
        <pre>@JsonSerializer.Serialize(new { Model.Participants, Model.Conferences }, new JsonSerializerOptions { WriteIndented = true })</pre>
    </div>
</div>

@section scripts {
    <script>
    $(() => {
        $('#AddWorkshopToConferenceModal').on('show.bs.modal', evt => {
            let $related = $(evt.relatedTarget);
            let $tr = $related.closest('tr');
            let conferenceId = $tr.data('conferenceId');
            $('#workshopConferenceId').val(conferenceId);
        })
        
        $('#WorkshopList').on('show.bs.modal', evt => {
            let $related = $(evt.relatedTarget);
            let $tr = $related.closest('tr');
            let conferenceId = $tr.data('conferenceId');
            $.ajax({
                type: 'GET',
                url: '/Workshops/' + conferenceId,
            }).then(data => {
                $('#WorkshopListItems')
                .html(data.map(d => `<li class="my-1">${d.id}: ${d.name} @@ ${d.start}-${d.end} on ${d.date} <button class="btn btn-danger btn-sm" type="submit" formaction="/Workshops/${conferenceId}/remove/${d.id}">Remove</button></li>`).join(""));
            })
        });
        
        $('#ApproveParticipantModal').on('show.bs.modal', evt => {
            let $related = $(evt.relatedTarget);
            let $tr = $related.closest('tr');
            let userName = $tr.data('userName');
            $('#ApproveParticipantUserName').val(userName);
        })
        
        $('#ConfirmRemoveParticipantModal').on('show.bs.modal', evt => {
            let $related = $(evt.relatedTarget);
            let $tr = $related.closest('tr');
            let userName = $tr.data('userName');
            $('#ConfirmRemoveParticipantUserName').val(userName);
        })        
        
    });
    </script>
}